@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

form {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="range"] {
    width: 100%;
}

.checkbox-group {
    display: inline-block;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.password-output {
    text-align: center;
}

textarea {
    text-align: center;
    font-weight: bolder;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    margin-top: 10px;
}

button#copyButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button#copyButton:hover {
    background-color: #0056b3;
}
